# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/
bower_components/
jspm_packages/
web_modules/

# Build output
build/
dist/
web-build/
expo-env.d.ts

# Expo
.expo/

# Native files
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# Environment files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
.env.local

# TypeScript
*.tsbuildinfo

# Cache
.cache
.parcel-cache
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.nyc_output
.grunt
.fusebox/

# Framework outputs
.next
out
.nuxt
.vuepress/dist
.temp
.cache/
.docusaurus
.serverless/
.dynamodb/
.vscode-test
.tern-port

# Yarn Integrity
.yarn-integrity

# Output of 'npm pack'
*.tgz

# Lockfiles
.lock-wscript
